/*variable*/
.communication-list__link, .overlay__description, .portfolio__link, .filter__btn, .client__link, .social__link, .form-el__icon, .form-el__content, .close-btn, .modal, .backdrop {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*base style*/
body {
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .aside {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  max-height: 100%;
}

/*header*/
header {
  position: relative;
}

header .container {
  display: flex;
}

.logo {
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    margin: 26px 88px 26px 0;
  }
}

.logo__web {
  color: rgb(33, 150, 243);
}

@media screen and (max-width: 479px) {
  .menu-container {
    display: none;
    transform: translateX(100%);
  }
  .menu-container.is-open {
    display: flex;
    position: fixed;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    padding: 48px 83px 48px 40px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }
  .menu-button {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 5;
  }
  .menu-button:hover, .menu-button:focus {
    fill: rgb(33, 150, 243);
  }
  .menu-button.is-open .icon-menu {
    display: block;
  }
  .menu-button.is-open .icon-cross {
    display: none;
  }
  .menu-button .icon-cross {
    display: block;
    z-index: 2;
  }
  .menu-button .icon-menu {
    display: none;
  }
  .menu-container.is-open + .icon-cross {
    position: fixed;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .nav__link {
    font-size: 30px;
    line-height: 1.17;
    color: rgb(33, 33, 33);
    text-decoration: none;
  }
  .nav__link:focus, .nav__link:hover {
    color: rgb(33, 150, 243);
  }
  .contact {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .contact__item:last-child {
    margin-bottom: 32px;
  }
  .contact__tel {
    margin-bottom: 32px;
    color: rgb(33, 150, 243);
    font-size: 20px;
    line-height: 1.17;
    font-weight: 500;
    text-decoration: none;
    transition-property: color;
  }
  .contact__link {
    color: rgb(117, 117, 117);
    font-size: 18px;
    line-height: 1.17;
    font-weight: 500;
    text-decoration: none;
    transition-property: color;
  }
  .contact__link:focus, .contact__link:hover,
  .contact__tel:focus,
  .contact__tel:hover {
    color: rgb(33, 150, 243);
  }
  .contact__tel-icon,
  .contact__link-icon {
    display: none;
  }
  .nav__link--current {
    color: rgb(33, 150, 243);
  }
  .nav-social {
    display: flex;
  }
  .nav-social__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 5px;
  }
  .nav-social__item:last-child {
    border-right: none;
  }
  .nav-social__item:not(:last-child)::after {
    content: "";
    margin-right: 5px;
  }
  .nav-social__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 1.22;
    font-weight: 500;
    color: rgb(33, 150, 243);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .menu-container {
    display: none;
    transform: translateX(100%);
  }
  .menu-container.is-open {
    display: flex;
    position: fixed;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    padding: 48px 83px 48px 40px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }
  .menu-button {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 5;
  }
  .menu-button:hover, .menu-button:focus {
    fill: rgb(33, 150, 243);
  }
  .menu-button.is-open .icon-menu {
    display: block;
  }
  .menu-button.is-open .icon-cross {
    display: none;
  }
  .menu-button .icon-cross {
    display: block;
  }
  .menu-button .icon-menu {
    display: none;
  }
  .menu-container.is-open + .menu-button {
    position: fixed;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .nav__link {
    font-size: 40px;
    line-height: 1.17;
    color: rgb(33, 33, 33);
    text-decoration: none;
  }
  .nav__link:focus, .nav__link:hover {
    color: rgb(33, 150, 243);
  }
  .contact {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .contact__item:last-child {
    margin-bottom: 32px;
  }
  .contact__tel {
    margin-bottom: 32px;
    color: rgb(33, 150, 243);
    font-size: 34px;
    line-height: 1.17;
    font-weight: 500;
    text-decoration: none;
    transition-property: color;
  }
  .contact__link {
    color: rgb(117, 117, 117);
    font-size: 24px;
    line-height: 1.17;
    font-weight: 500;
    text-decoration: none;
    transition-property: color;
  }
  .contact__link:focus, .contact__link:hover,
  .contact__tel:focus,
  .contact__tel:hover {
    color: rgb(33, 150, 243);
  }
  .contact__tel-icon,
  .contact__link-icon {
    display: none;
  }
  .nav__link--current {
    color: rgb(33, 150, 243);
  }
  .nav-social {
    display: flex;
  }
  .nav-social__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  .nav-social__item:last-child {
    border-right: none;
  }
  .nav-social__item:not(:last-child)::after {
    content: "";
    margin-right: 10px;
  }
  .nav-social__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 500;
    color: rgb(33, 150, 243);
  }
}
@media screen and (min-width: 768px) {
  header .container {
    align-items: baseline;
  }
  .menu-button {
    display: none;
  }
  .nav-social {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__item {
    position: relative;
  }
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgb(33, 33, 33);
    text-decoration: none;
  }
  .nav__link:focus, .nav__link:hover {
    color: rgb(33, 150, 243);
  }
  .nav__link--current {
    color: rgb(33, 150, 243);
  }
  .nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(33, 150, 243);
  }
}
.nav {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}
@media screen and (max-width: 479px) {
  .nav {
    margin-bottom: 156px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav {
    margin-bottom: 306px;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin-right: 101px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    flex-direction: column;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    margin-left: 305px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link,
  .contact__tel {
    display: flex;
    align-items: center;
    color: rgb(117, 117, 117);
    font-weight: 500;
    text-decoration: none;
  }
  .contact__link:focus, .contact__link:hover,
  .contact__tel:focus,
  .contact__tel:hover {
    color: rgb(33, 150, 243);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link,
  .contact__tel {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .contact__tel-icon {
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__tel-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link-icon {
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link-icon {
    margin-right: 10px;
  }
}

/*main*/
.main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: rgb(196, 196, 196);
}
@media screen and (max-width: 479px) {
  .main {
    height: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header480.jpg);
    background-size: cover;
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .main {
    background-image: url("/images/Header480@2x.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header480.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .main {
    background-image: url("/images/Header480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .main {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header768.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main {
    background-image: url("/images/Header768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .main {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header1200.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main {
    background-image: url("/images/Header1200@2x.jpg");
  }
}

.main {
  background-color: rgb(47, 48, 58);
}

.main .container {
  display: block;
}

.main__banner {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 479px) {
  .main__banner {
    width: 260px;
    font-size: 16px;
    line-height: 1.61;
    font-weight: 900;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .main__banner {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
    font-weight: 900;
  }
}
@media screen and (min-width: 1200px) {
  .main__banner {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
  }
}

.main__btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .main__btn {
    font-size: 10px;
  }
}

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity, visibility;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition-property: transform;
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (max-width: 479px) {
  .modal {
    width: 300px;
    height: 459px;
    padding: 40px 20px 30px 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0.2);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition-property: fill;
  cursor: pointer;
}
.close-btn:hover, .close-btn:focus {
  fill: rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .close-btn {
    padding: 4px;
  }
}

.modal__title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.17;
  color: rgb(33, 33, 33);
  font-family: Roboto;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 479px) {
  .modal__title {
    font-size: 12px;
  }
}

.form-el {
  position: relative;
}

.form-el label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (max-width: 479px) {
  .form-el label {
    font-size: 10px;
  }
}

.form-el:not(:first-child) {
  margin-top: 10px;
}

.form-el__content {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition-property: border-color;
}
.form-el__content:focus {
  border-color: rgb(33, 150, 243);
}
.form-el__content:focus + .form-el_icon {
  border-color: rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .form-el__content {
    width: 255px;
    height: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-el__content {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form-el__content {
    width: 448px;
  }
}

.form-el__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: fill;
}

@media screen and (min-width: 480px) {
  .form-el--size {
    height: 138px;
  }
}

.form-el__area {
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin: 0;
  padding: 12px 16px;
}
.form-el__area::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
}
.form-el__area::placeholder {
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (max-width: 479px) {
  .form-el__area::-moz-placeholder {
    font-size: 10px;
  }
  .form-el__area::placeholder {
    font-size: 10px;
  }
}
.form-el__area:focus {
  border-color: rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .form-el__area {
    width: 255px;
    height: 80px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-el__area {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form-el__area {
    width: 448px;
  }
}

.form-box {
  margin: 20px 12px 0 13px;
}
@media screen and (max-width: 479px) {
  .form-box {
    margin: 10px 8px 0 8px;
  }
}

.label {
  display: flex;
  align-items: center;
  line-height: 1.17;
  font-weight: 400;
}
@media screen and (max-width: 479px) {
  .label {
    font-size: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .label {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.label__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.label__checkbox:focus + .label__check-icon {
  border: 2px solid rgb(33, 150, 243);
}

.label__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 4px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
}
.label__check-icon:focus {
  border: 2px solid rgb(33, 150, 243);
}

.label__checkbox:checked + .label__check-icon {
  border-color: transparent;
  background-color: rgb(33, 150, 243);
  background-image: url("../images/SVG/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.label__check-link {
  margin-left: 4px;
  color: rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .label__check-link {
    font-size: 10px;
  }
}

.send-btn {
  display: block;
  width: 200px;
  height: 50px;
  border-color: transparent;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 479px) {
  .send-btn {
    width: 150px;
    height: 35px;
    margin-top: 15px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .feature__item--size {
    width: 300px;
  }
}
@media screen and (min-width: 480px) {
  .feature__item--size {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item--size {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item--size {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .feature__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__icon-bg {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(245, 244, 250);
}

.feature__subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  color: rgb(33, 33, 33);
  font-size: 14px;
  line-height: 1.17;
}
@media screen and (max-width: 767px) {
  .feature__subtitle {
    text-align: center;
  }
}

.feature p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .works {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .works__title {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(33, 33, 33);
    font-size: 36px;
    line-height: 1.17;
  }
  .works-card {
    display: flex;
  }
  .works-card__item {
    position: relative;
  }
  .works-card__item:not(:last-child) {
    margin-right: 30px;
  }
  .works-card__description {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 370px;
    height: 70px;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: rgb(255, 255, 255);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .team .container {
    flex-wrap: wrap;
  }
}
.team {
  background-color: rgb(245, 244, 250);
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .team-card {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    display: flex;
  }
}

.team-card__item {
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.14);
}
@media screen and (max-width: 479px) {
  .team-card__item {
    width: 300px;
  }
  .team-card__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team-card__item {
    width: 450px;
  }
  .team-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card__item {
    width: 354px;
  }
  .team-card__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-card__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__item {
    width: 270px;
  }
  .team-card__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.person-descriptions {
  padding-top: 30px;
  padding-bottom: 30px;
}

.person-descriptions__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
}

.team-card p {
  margin: 0 0 16px 0;
  text-align: center;
}

.social {
  display: flex;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: rgb(175, 177, 184);
  transition-property: border-radius, background-color, fill;
}
.social__link:hover, .social__link:focus {
  border-radius: 50%;
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.client {
  display: flex;
  flex-wrap: wrap;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 36px;
  line-height: 1.17;
}
@media screen and (max-width: 767px) {
  .section__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 479px) {
  .client__item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .client__item:nth-child(2n) {
    margin-right: 0;
  }
  .client__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client__item:nth-child(2n) {
    margin-right: 0;
  }
  .client__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client__item:nth-child(3n) {
    margin-right: 0;
  }
  .client__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  height: 92px;
  fill: rgb(175, 177, 184);
  transition-property: fill, border;
}
.client__link:hover, .client__link:focus {
  fill: rgb(33, 150, 243);
  border: 1px solid rgb(33, 150, 243);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

/*btn portfolio*/
.filter {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 479px) {
  .filter {
    flex-wrap: wrap;
    justify-content: start;
    width: 300px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    justify-content: start;
    width: 400px;
  }
}

.filter__btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: rgb(33, 33, 33);
  background: rgb(245, 244, 250);
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  cursor: pointer;
  transition-property: color, background, box-shadow;
}
.filter__btn:focus, .filter__btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(33, 150, 243);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}

/*portfolio*/
.portfolio {
  display: flex;
  margin-top: 50px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .portfolio {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    flex-wrap: wrap;
  }
}

.portfolio__card {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio__card {
    width: 300px;
    margin-right: 0;
  }
  .portfolio__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio__card {
    width: 450px;
    margin-right: 0;
  }
  .portfolio__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__card {
    width: 354px;
    height: 404px;
  }
  .portfolio__card:nth-child(-n+2) {
    height: 440px;
  }
  .portfolio__card:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    width: calc((100% - 60px) / 3);
  }
  .portfolio__card:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__card:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition-property: box-shadow;
}
.portfolio__link:hover .overlay__description, .portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.overlay__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: rgb(255, 255, 255);
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  transition-property: transform;
}
@media screen and (max-width: 479px) {
  .overlay__description {
    padding: 36px 20px;
    font-size: 14px;
  }
}

.card-border {
  padding: 20px 24px 20px 24px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #EEEEEE;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-border--size {
    height: 146px;
    padding-right: 54px;
    padding-bottom: 15px;
  }
}

.card-border__title {
  margin: 0;
  color: rgb(33, 33, 33);
  font-size: 18px;
  line-height: 2;
}

.card-border__description {
  margin: 4px 0 0 0;
  color: rgb(117, 117, 117);
  font-size: 16px;
  line-height: 1.88;
}

/*footer*/
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  footer {
    text-align: center;
  }
}

.wrap {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .wrap {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrap {
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .wrap {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .info {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .info {
    width: 231px;
    margin-right: 70px;
  }
}

.info__logo {
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .info__logo {
    display: block;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .info__logo {
    margin-right: auto;
  }
}

.info__web {
  color: rgb(33, 150, 243);
}

.info__address {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .info__address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .info__address {
    margin-top: 28px;
    margin-right: auto;
  }
}

.footer-list {
  margin-top: 12px;
}

.footer-list__item:not(:first-child) {
  margin-top: 12px;
}

.footer-list__link,
.footer-list__tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .communication {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .communication {
    margin-left: 165px;
  }
}

.communication__title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
}
@media screen and (max-width: 1199px) {
  .communication__title {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .communication__title {
    margin: 0 90px 20px 0;
  }
}

.communication-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .communication-list {
    justify-content: center;
  }
}

.communication-list__item:not(:last-child) {
  margin-right: 10px;
}

.communication-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: rgb(255, 255, 255);
  transition-property: background-color;
}
.communication-list__link:hover, .communication-list__link:focus {
  background-color: rgb(33, 150, 243);
}

.sub {
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .sub {
    width: 570px;
    height: 86px;
  }
}

.sub__title {
  margin: 0 auto 20px auto;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
}
@media screen and (max-width: 1199px) {
  .sub__title {
    margin: 0 auto 20px auto;
  }
}
@media screen and (min-width: 1200px) {
  .sub__title {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    margin-top: 20px;
  }
}

.form__text {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: rgb(47, 48, 58);
  color: rgba(255, 255, 255, 0.6);
}
.form__text:focus {
  border-color: rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .form__text {
    width: 250px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form__text {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form__text {
    width: 358px;
  }
}

.form__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: rgb(33, 150, 243);
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 479px) {
  .form__btn {
    display: flex;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
    align-items: center;
    font-size: 12px;
  }
}

.form__el {
  margin-left: 10px;
  fill: rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */