footer {
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
    background-color: $color-bg-gray; 
}

.wrap {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: baseline

    }
}

.info {
    display: flex;
    flex-direction: column;

    @media screen and (min-width:480px) and (max-width:768px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:768px) {
        margin-left: 61px;
        
    }
    
}

.info__logo {
    margin-bottom: 28px;

    color: $color-white-primary;

    font-family: $secondary-font;
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
}

.info__web {
    color: $color-accent;
}

.info__address {  
    margin-bottom: 60px;

    color: $color-white-primary;
    font-size: 14px;
    font-style: normal;
}

.footer-list {
    margin-top: 12px;
}

.footer-list__item:not(:first-child) {
    margin-top: 12px;
}
.footer-list__link,
.footer-list__tel {
    color: $color-footer-white;
    font-weight: 400;
    text-decoration: none;
}

.communication {
    @media screen and (min-width:480px) and (max-width:768px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width:768px) {
        margin-left: 165px;
        
    }
    
}

.communication__title {
    margin-top: 0;
    margin-bottom: 20px;
    
    color: $color-white-primary;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}
.communication-list {
    display: flex;
    justify-content: center;
}

.communication-list__item:not(:last-child) {
    margin-right: 10px;
}

.communication-list__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: $color-social-bg;
    fill: $color-white-primary;

    transition-property: background-color;
    @extend %transition;

    &:hover,
    &:focus {
        background-color: $color-accent;
    }
}

.sub {
    margin-right: 0;
}

.sub__title {
    margin: 0 auto 20px auto;
    
    color: $color-white-primary;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}

.form {
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.form__text {
    width: 358px;
    height: 50px;

    margin-bottom: 20px;
    
    border: 1px solid $color-footer-gray;
    border-radius: 4px;
    
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    background-color: $color-bg-gray;
    color: $color-footer-white;

    &:focus {
        border-color: $color-accent;
    }

    @media screen and (min-width:768px) {
        width: 450px;
            height: 50px;
    }
}

.form__btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;

    
    padding-left: 28px;
    padding-right: 28px;

    background-color: $color-accent;
    border-color: transparent;
    cursor: pointer;

    font-size: 16px;
    line-height: 1.88;
    color: $color-white-primary;
}

.form__el {
    margin-left: 10px;
    fill: $color-white-primary;
}