.main {
    margin-left: auto;
    margin-right: auto;
      
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-color: rgba(196, 196, 196, 1);

    @media screen and (max-width:479px) {
            
            height: 250px;

            padding-top: 60px;
            padding-bottom: 60px;
            
            background-image: linear-gradient(
                to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
                ),
            url(../images/header480.jpg);
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('/images/header480@2x.jpg');
                
            }
        
        
    }
    
    @media screen and (min-width:480px) and (max-width:767px) {
            
            height: 400px;
            
            background-image: linear-gradient(
                to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
                ),
            url(../images/header480.jpg);
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('/images/header480@2x.jpg');
                
            }
    }
        
    @media screen and (min-width:768px) {
            height: 400px;
            
            background-image: linear-gradient(
                to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
                ),
            url(../images/header768.jpg);
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/header768@2x.jpg);
            }
    }
    
    @media screen and (min-width:1200px) {
            max-width: 1600px;
            height: 600px;
            
            padding-top: 200px;
            padding-bottom: 200px;
        
            background-image: linear-gradient(
                to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
                ),
            url(../images/header1200.jpg);
            background-size: cover;
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('/images/header1200@2x.jpg');
            }
    }
}


.main {
    background-color: $color-bg-gray;
}

.main .container {
    display: block;
}

.main__banner {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: $color-white-primary;

    @media screen and (max-width:479px) {
        width: 260px;

        font-size: 16px;
        line-height: 1.61;
        font-weight: 900;
    }

    @media screen and (min-width:480px) and (max-width:1199px) {
        width: 360px;

        font-size: 26px;
        line-height: 1.61;
        font-weight: 900;
    }

    @media screen and (min-width:1200px) {
        width: 696px;

        font-size: 44px;
        line-height: 1.36;
        font-weight: 900;
    }
}

.main__btn {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 24px;
    border-radius: 4px;
    border: none;

    background-color: $color-accent;
    color: $color-white-primary;

    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    cursor: pointer;

    @media screen and (max-width:479px) {
        
        font-size: 10px;
    }
}