header {
    position: relative;
}

header .container {
    display: flex;
}

.logo {
   
    margin-top: 16px;
    margin-bottom: 16px;
    

    color: $color-logo;
 
    font-family: $secondary-font;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
}

.logo__web  {
    color: $color-accent;
}

@media screen and (max-width:767px) {
    .menu-container {
        display: none;
        position: absolute;
        
        top: 0;
        left: 0;
        width: 480px;
    
        
        &.is-open {
            display: flex;
            flex-direction: column;
                            
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 40px;
    
            background-color: $color-white-primary;
            
        }
    }
    
    .menu-button {
        display: inline-flex;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        padding: 0;
        border: none;
        background-color: transparent;  
    }
    
    .menu-button .icon-cross {
        display: none;
    }
    
    .menu-button.is-open .icon-cross {
        display: block;
    
    }
    
    .menu-button.is-open .icon-menu {
        display: none;
    }
    
     .nav__link {
        font-size: 40px;
        line-height: 1.17;
        color: rgb(33, 33, 33);
        text-decoration: none;
       
     }
    
     .nav__item:not(:last-child) {
        margin-bottom: 32px;
     }
    
     .nav__link:focus, .nav__link:hover {
         color: rgb(33, 150, 243);
     }
      
    .nav {
        margin-bottom: 306px;
    }
      
    .contact {
        display: block;
        margin-bottom: 64px;
    }
    
    .contact__item:not(:last-child) {
        margin-bottom: 32px;
    }
    
    .contact__tel {
      margin-bottom: 32px;
     
      color: rgb(33, 150, 243);
      font-size: 34px;
      line-height: 1.17;
      font-weight: 500;
      text-decoration: none;
      transition-property: color;
    }
    
    .contact__link {
        color: $color-text-primary;
        
        font-size: 24px;
        line-height: 1.17;
        font-weight: 500;
        text-decoration: none;
        transition-property: color;
      }
    .contact__link:focus, .contact__link:hover,
    .contact__tel:focus,
    .contact__tel:hover {
      color: rgb(33, 150, 243);
    }
      
    .contact__tel-icon,
    .contact__link-icon {
        display: none;
    }
      
    .nav__link--current {
      color: rgb(33, 150, 243);
    }
    
    .nav-social {
        display: flex;
        
    }
    
    .nav-social__link{
        text-decoration: none;
    
        font-size: 18px;
        line-height: 1.22;
        font-weight: 500;
    
        color: $color-accent;
           
        
        &:not(:last-child){
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            margin-left: 10px;
            margin-right: 10px;
        }
    
        
    } 
}
   