.works {
    padding-top: 0;
}

.works__title {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: $color-title-primary;

    font-size: 36px;
    line-height: 1.17;
}

.works-card {
    display: flex;
}

.works-card__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.works-card__description {
    position: absolute;
    bottom: 0;

    display: flex;
    width: 370px;
    height: 70px;
    margin: 0;
    justify-content: center;
    align-items: center;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;

    color: $color-white-primary;
    background-color: $color-bg-secondary;
}