.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    list-style: none;  
}

.portfolio__card {
    
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.overlay {
    position: relative;
    overflow: hidden;
    
}

.portfolio__link {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    
    transition-property: box-shadow;
    @extend %transition;

    &:hover .overlay__description,
    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

        transform: translateY(0);
    }
}

.overlay__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: $color-white-primary;

    transform: translateY(100%);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

    transition-property: transform;
    @extend %transition;
}

.card-border {
    padding:20px 24px 20px 24px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: $color-card-bg;
}

.card-border__title {
    margin: 0;

    color: $color-title-primary;

    font-size: 18px;
    line-height: 2;
}

.card-border__description {
    margin: 4px 0 0 0;
    color: $color-text-primary;
    font-size: 16px;
    line-height: 1.88;
}