    $main-font: "Roboto",sans-serif;
    $secondary-font: "Raleway", sans-serif; 
    
    $color-text-primary: rgba(117, 117, 117, 1);
    $color-title-primary: rgba(33, 33, 33, 1);
    $color-white-primary: rgba(255, 255, 255, 1);
    $color-bg-gray: rgba(47, 48, 58, 1);
    $color-bg-secondary: rgba(47, 48, 58, 0.8);
    $color-bg-white: rgba(245, 244, 250, 1);
    $color-logo: rgba(0, 0, 0, 1);
    $color-accent: rgba(33, 150, 243, 1);
    $color-btn-filter: rgba(245, 244, 250, 1);
    $color-footer-white: rgba(255, 255, 255, 0.6);
    $color-card-bg: #EEEEEE;
    $color-border: rgba(175, 177, 184, 1);
    $color-border-form: rgba(33, 33, 33, 0.2);
    $color-social-bg: rgba(255, 255, 255, 0.1);
    $color-overlay: rgba(0, 0, 0, 0.2);
    $color-footer-gray: rgba(255, 255, 255, 0.3);
